<div class="animate__animated animate__fadeIn animate__fast"> 
    <h3 class="animate__animated animate__fadeIn"
    >Buscar por region: <small class="text-primary">{{regionActiva | titlecase}}</small></h3>
    
    <hr>
    
    <div class="row">
        <div class="col">
            
            <!-- [class.btn-primary]="region === regionActiva" -->
    
            <!-- [ngClass]="{
                'btn--primary': regionActiva === region,
                'btn-outline-primary': regionActiva !== region
                }" -->
            <button  *ngFor="let region of regiones"
            [class]=" getClaseCSS(region) " 
            (click)="activarRegion(region)"
            class="mt-2 mr-2"
            >
                {{region | uppercase }}
            </button>
        </div>
    </div>
    
</div>


<hr class="col-12">
<div class="row animate__animated animate__bounce animate__faster">
    
    <div class="col ">
        
        <p class="mt-2">
            *EU (Unión Europea)
        </p>
        <p>
            EFTA (Asociación Europea de Libre Comercio)
        </p>
        <p>
            *CARICOM (Comunidad del Caribe)
        </p>
        <p>
            PA (Alianza del Pacífico)
        </p>
        <p>
            *AU (Unión Africana)
        </p>
        <p>
            CEFTA (Acuerdo de Libre Comercio de Europa Central)
        </p>
        <p>
            *NAFTA (TLCAN) (Tratado de Libre Comercio de América del Norte)
        </p>
        
    </div>
            
    <div class="col">
        
        <p class="mt-2">
            USAN (Unión de Naciones Suramericanas)
        </p>
        <p>
            *EEU (Unión Económica Euroasiática)
        </p>
        <p>
            AL (Liga Árabe)
        </p>
        <p>
            *ASEAN (Asociación de Naciones del Sudeste Asiático)
        </p>
        <p>
            CAIS (Sistema de la Integración Centroamericana)
        </p>
        <p>
            *SAARC (Asociación del Sur de Asia para la Cooperación Regional)
        </p>
        
        
    </div>
    
</div>
<hr class="col-12">

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>